<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CEarch - Programming CEP Search</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="Evandro Silva">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='_CSS/style.css') }}"/>
    </head>
    <body>
        <div class="cx-box-main">
            <div class="cx-box-title">
                <h1>Your street address</h1>
            </div>
            <div class="cx-box-data">
                <h2>{{ data }}</h2>
            </div>
        </div>
    </body>
</html>